[submodule "submodules/dflash"]
	path = submodules/dflash
	url = git@github.com:z-lab/dflash.git
[submodule "submodules/tilelang"]
	path = submodules/tilelang
	url = https://github.com/tile-ai/tilelang.git
[submodule "submodules/lucebox-hub"]
	path = submodules/lucebox-hub
	url = https://github.com/Luce-Org/lucebox-hub.git
